@model Book
@{
    string strTitle = "Add or edit a book";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <div>
            <form asp-area="Admin" asp-controller="Books" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DateAdded" />
                <div asp-validation-summary="All"></div>
                <div>
                    <label asp-for="Name"></label><br />
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="AuthorId"></label><br />
                    <select name="AuthorId" asp-for="Author" asp-items="ViewBag.Authors"></select>
                </div>
                <div>
                    <label asp-for="GenreId"></label><br />
                    <select name="GenreId" asp-for="Genre" asp-items="ViewBag.Genres"></select>"
                </div>
                <div>
                    <label asp-for="Price"></label>
                    <input asp-for="Price" />
                    <span asp-validation-for="Price"></span>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>