@model ChangePasswordViewModel
@{
    string strTitle = "Change password";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <form asp-area="User" asp-controller="UserProfile" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="OldPassword"></label><br />
                <input asp-for="OldPassword" />
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div>
                <label asp-for="NewPassowrd"></label><br />
                <input asp-for="NewPassowrd" />
                <span asp-validation-for="NewPassowrd"></span>
            </div>
            <div>
                <label asp-for="RepeatNewPassword"></label><br />
                <input asp-for="RepeatNewPassword" />
                <span asp-validation-for="RepeatNewPassword"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>