@{
    string userName = ViewBag.userName;
    ViewBag.Title = userName;
    string userId = ViewBag.userId;
}

<div>
    <h1>@userName</h1>
    <h2>@userId</h2>
    <div>
        <p><a asp-area="User" asp-controller="UserProfile" asp-action="Edit">Edit profile</a></p>
        <p><a asp-area="User" asp-controller="Orders" asp-action="Index">Orders history</a></p>
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>