@{
    string strTitle = "Account";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <div>
            <p><a asp-area="" asp-asp-controller="Account" asp-action="Login">Sign in</a> | <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a></p>
        </div>
    </div>
</div>