@{
    string strTitle = "Admin panel";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <h2>Edit the website data</h2>
    <p><a asp-area="" asp-controller="Home" asp-action="Index">Books</a></p>
    <p><a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a></p>
    <p><a asp-area="Admin" asp-controller="Genres" asp-action="Index">Genres</a></p>
    <p><a asp-area="Admin" asp-controller="PagesTextFields" asp-action="Index">Pages text fields</a></p>
    <p><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></p>
</div>