@model Author
@{
    string strTitle = "Add or edit an author";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <form asp-area="Admin" asp-controller="Authors" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="BirthDate"></label><br />
                <input asp-for="BirthDate" />
                <span asp-validation-for="BirthDate"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>